{% extends 'base.html' %}
{% load staticfiles i18n %}

{% block title %}{% trans 'my_blog.about.title' %} - {% trans 'my_blog.main_menu.about' %}{% endblock %}

{% block meta %}
    {% include 'my_blog/parts/_site_meta.html' %}
{% endblock %}

{% block content %}
    <div class="col-md-12">
        <h1>{% trans 'my_blog.main_menu.about' %}</h1>
        <p>{% trans 'about.text' %}</p>
        <iframe src="https://mapsengine.google.com/map/embed?mid=zabGlKKrinTI.kahtB9DHeH1M" width="1080" height="480">
        </iframe>
    </div>
{% endblock %}