{% load i18n %}

<meta name="description" content="{% trans 'my_blog.about.description' %}">
<meta property="og:image" content="{{ request.build_absolute_uri }}static/img/we.jpg" />
<meta property="og:title" content="{% trans 'my_blog.about.title' %}" />
<meta property="og:description" content="{% trans 'my_blog.about.description' %}" />
<meta property="og:url" content="{{ request.build_absolute_uri }}" />

{% if TWITTER_ACCOUNT %}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@{{ TWITTER_ACCOUNT }}">
    <meta name="twitter:creator" content="@{{ TWITTER_ACCOUNT }}">
    <meta name="twitter:title" content="{% trans 'my_blog.about.title' %}">
    <meta name="twitter:description" content="{% trans 'my_blog.about.description' %}">
    <meta name="twitter:image:src" content="{{ request.build_absolute_uri }}static/img/we.jpg">
{% endif %}

<!-- Google+ -->
<meta itemprop="name" content="{% trans 'my_blog.about.title' %}">
<meta itemprop="description" content="{% trans 'my_blog.about.description' %}">
<meta itemprop="image" content="{{ request.build_absolute_uri }}static/img/we.jpg">
