{% load i18n staticfiles %}

<div class="article preview">
    <a href="{% url 'view_article' article.slug %}">
        <h2>{{ article.title }}</h2>
    </a>

    {% include 'notes/parts/_article_header.html' %}

    {% if article.preview_image %}
        <img src="{{ article.preview_image.article.url }}" alt="" class="image"/>
    {% endif %}

    {{ article.preview|safe }}

    <a href="{% url 'view_article' article.slug %}">{% trans 'notes.read_more' %}</a>
    <div style="clear: both"></div>
</div>